@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="row pt-5 pb-3 bg-light mb-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="page-header mt-5 mb-3">Houses For Rent</h1>
        </div>       
        <div class="col-md-2"></div>
    </div>
<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <img src="~/img/projects/rooms.jpg"  class="img-fluid" />
    </div>
    <div class="col-md-4">
        <h2>4 Bed Room Duplex</h2>
        <p style="font-weight:100;">
            Our Standard Rooms are the perfect combination of function and comfort.
        </p>
        <ul style="font-weight:100;margin-left:0px;padding-left:inherit;">
            <li>
                Size: 230 sq ft
            </li>
            <li>
                Beds: 1 Double(s)
            </li>
        </ul>
        <hr />
    </div>
    <div class="col-md-2 mt-2">
            <span class="text-center d-flex justify-content-center mt-5" style="font-size:35px;">$3500/yr</span><br />   
        <button class="btn btn-block text-warning bg-dark mt-2" style="border-radius:0px;">More Info</button>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <img src="~/img/projects/rooms.jpg" class="img-fluid" />
    </div>
    <div class="col-md-4">
        <h2>4 Bed Room Duplex</h2>
        <p style="font-weight:100;">
            Our Standard Rooms are the perfect combination of function and comfort.
        </p>
        <ul style="font-weight:100;margin-left:0px;padding-left:inherit;">
            <li>
                Size: 230 sq ft
            </li>
            <li>
                Beds: 1 Double(s)
            </li>
        </ul>
        <hr />
    </div>
    <div class="col-md-2 mt-2">
        <span class="text-center d-flex justify-content-center mt-5" style="font-size:35px;">$3500/yr</span><br />
        <button class="btn btn-block text-warning bg-dark mt-2" style="border-radius:0px;">More Info</button>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <img src="~/img/projects/rooms.jpg" class="img-fluid" />
    </div>
    <div class="col-md-4">
        <h2>4 Bed Room Duplex</h2>
        <p style="font-weight:100;">
            Our Standard Rooms are the perfect combination of function and comfort.
        </p>
        <ul style="font-weight:100;margin-left:0px;padding-left:inherit;">
            <li>
                Size: 230 sq ft
            </li>
            <li>
                Beds: 1 Double(s)
            </li>
        </ul>
        <hr />
    </div>
    <div class="col-md-2 mt-2">
        <span class="text-center d-flex justify-content-center mt-5" style="font-size:35px;">$3500/yr</span><br />
        <button class="btn btn-block text-warning bg-dark mt-2" style="border-radius:0px;">More Info</button>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <img src="~/img/projects/rooms.jpg" class="img-fluid" />
    </div>
    <div class="col-md-4">
        <h2>4 Bed Room Duplex</h2>
        <p style="font-weight:100;">
            Our Standard Rooms are the perfect combination of function and comfort.
        </p>
        <ul style="font-weight:100;margin-left:0px;padding-left:inherit;">
            <li>
                Size: 230 sq ft
            </li>
            <li>
                Beds: 1 Double(s)
            </li>
        </ul>
        <hr />
    </div>
    <div class="col-md-2 mt-2">
        <span class="text-center d-flex justify-content-center mt-5" style="font-size:35px;">$3500/yr</span><br />
        <button class="btn btn-block text-warning bg-dark mt-2" style="border-radius:0px;">More Info</button>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row mt-5 mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <img src="~/img/projects/rooms.jpg" class="img-fluid" />
    </div>
    <div class="col-md-4">
        <h2>4 Bed Room Duplex</h2>
        <p style="font-weight:100;">
            Our Standard Rooms are the perfect combination of function and comfort.
        </p>
        <ul style="font-weight:100;margin-left:0px;padding-left:inherit;">
            <li>
                Size: 230 sq ft
            </li>
            <li>
                Beds: 1 Double(s)
            </li>
        </ul>
        <hr />
    </div>
    <div class="col-md-2 mt-2">
        <span class="text-center d-flex justify-content-center mt-5" style="font-size:35px;">$3500/yr</span><br />
        <a asp-controller="Rent" asp-action="Details" class="btn btn-block text-warning bg-dark mt-2" style="border-radius:0px;">More Info</a>
    </div>
    <div class="col-md-2"></div>
</div>